.analysis-wrapper {
    min-height: 100%;
    height: fit-content;
    width: 100%;
    min-width: fit-content;
    padding: 10px 24px;
    overflow: hidden;
}

/*显示源码的样式*/
.code-block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-between;
    overflow-x: hidden;
    min-width: fit-content;
    width: 100%;

    box-sizing: border-box;
    max-height: calc(100% - 32px);
    padding: 10px 0 20px 0;
    scrollbar-width: none;
}

.code {
    height: fit-content;
    font-size: 12px;
    max-width: 100%;
    border-radius: 5px;
    background-color: #f6f8fa;

    border: #dae0e5 solid 1px;
}

.code-title {
    border-radius: 5px 5px 0 0;
    padding: 6px 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: #dae0e5 solid 1px;
}

.code-body {
    border: 0;
    border-radius: 0 0 5px 5px;
    background-color: white;
}


/*显示项目目录的样式*/
.project-block {
    width: 66%;
    height: fit-content;
    display: flex;
    flex-flow: column;
}

.directory {
    height: fit-content;
    min-width: fit-content;

    width: 100%;
    background-color: #f6f8fa;
    border-radius: 5px;
    border: #dae0e5 solid 1px;
    margin-bottom: 16px;
}

.directory-title {
    display: flex;
    justify-content: space-between;
    padding: 6px 16px;
}

.directory-title-info {
    display: flex;
    width: calc(100% - 32px);
    line-height: 14px;
}

.directory-title-info div {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: flex-end;
}

.directory-title-info div span {
    margin: 4px 6px;
}

.directory-title-info div:hover {
    color: #0969da;
    text-decoration: underline;
    text-underline: #0969da;
    cursor: pointer;
}

.directory-body {
    position: relative;
    border: 0;
    background-color: white;
    border-radius: 0 0 5px 5px;
    transition: height 0.2s;
    overflow-y: hidden;
}

.directory-body-item {
    border-top: #dae0e5 solid 1px;
    line-height: 36px;
    height: 36px;
    padding: 0 20px;
    user-select: none;
}

.directory-body-item:hover {
    background-color: #f6f8fa;
    color: #0969da;
    cursor: pointer;
}

.disabled-item {
    color: grey;
    background-color: white;
}

.disabled-item:hover {
    cursor: not-allowed;
    color: grey;
    background-color: white;
}


.caret-down-icon {
    display: flex;
    align-items: center;
    color: grey;
    cursor: pointer;
    width: 28px;
}

#caret-icon {
    width: 28px;
    transition: transform 0.2s ease-in;
}

.caret-expand {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 28px;
    background-image: linear-gradient(rgba(218, 224, 229, 0), rgba(218, 224, 229, 0.38));
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

.caret-expand:hover {
    color: #0969da;
}

.caret-expand span {
    display: flex;
    align-items: center;
}

.caret-down-icon-method {
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.caret-down-icon-method span{
    transition: transform 0.2s ease-in;
}

.caret-down-icon-method span svg{
    pointer-events: none;
}

.caret-down-icon-method span svg path{
    pointer-events: none;
}

.caret-rotate{
    transform: rotate(-90deg);
}

/*推荐代码名部分的样式*/
.recommend-block {
    position: absolute;
    right: 24px;
    left: calc(70% - 24px);

    width: 30%;
    min-width: fit-content;
    border-bottom: #dae0e5 solid 1px;
    background-color: white;
    overflow-y: scroll;
    max-height: calc(100% - 100px);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    height: 10px;
    border: none
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.recommend-title {
    display: flex;
    justify-content: space-between;

    font-weight: 600;
    padding: 6px 8px;
    border-bottom: #dae0e5 solid 1px;
    border-top: #dae0e5 solid 1px;
}

.recommend-body {
    padding: 6px 8px 8px 8px;
}

.recommend-body div {
    word-break: break-all;
}

.recommend-filter-block {
    font-size: 12px;
    border-bottom: #dae0e5 solid 1px;
    transition: height 0.2s;
    overflow-y: hidden;
    height: 0;
}

.recommend-filter-block-wrapper {
    display: flex;
    flex-flow: column;
    margin: 6px 24px;
}

.recommend-filter-icon {
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.recommend-filter-icon:hover {
    color: #0969da;
}

.recommend-filter-func{
    display: flex;
    column-gap: 20px;
    padding-top: 2px;
}

.target-name {
    font-size: 16px;
    font-weight: 600;
}

.target-location {
    font-size: 10px;
    margin-left: 15px;
}

.recommend-name {
    padding-right: 24px;
    width: calc(100% - 33px);
}

.recommend-link {
    text-align: right;
    padding: 0 8px;
    border-radius: 3px;
}

.recommend-wrapper {

}

/*附属样式*/
.prefix-icon {
    margin-right: 8px;
}

.split-line {
    width: 1px;
    margin: 8px 12px 8px 20px;
    background: linear-gradient(to bottom, rgba(140, 140, 140, 0.6), rgba(140, 140, 140, 0.07));
}

.deco-wrapper {
    display: flex;
    overflow-y: hidden;
}

.deco-withdraw {
    height: 0;
}

.analysis-spinning {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    color: black;
    /* background-color: rgba(255, 255, 255, 0.7); */
    border-radius: 5px;
    z-index: 5000;
}

.back-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 24px;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background-color: rgba(140, 140, 140, 1);
    cursor: pointer;

    transition: background-color, opacity 0.2s, 0.4s;
    opacity: 0;
}

.back-top:hover {
    background-color: black;
}

.back-top span {
    height: 40px;
    width: 40px;
}
