.workbench-wrapper {
    min-height: fit-content;
    height: 100%;
    width: 100%;
    min-width: 800px;
    padding: 10px;
}

.work-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    overflow: auto;

    box-sizing: border-box;
    max-height: calc(100% - 32px);
    padding-bottom: 20px;
    scrollbar-width: none;
    margin-top: 10%;
}

.record-card {
    width: 19%;
    min-width: 240px;
    min-height: 170px;
    max-height: 200px;

    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px 3px #eeeeee;

    box-sizing: border-box;
    margin: 5px 5px 5px 6px;

    user-select: none;
}

.selector-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    color: #aaaaaa;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
}

.selector-block:hover {
    color: white;
    background-color: #aaaaaa;
    box-shadow: 0 0 3px 3px #aaaaaa;
}

.selector-block:hover .icon path {
    fill: white;
}

.part-wrapper {
    display: flex;
    width: 32%;
    justify-content: center;
    align-content: center;
}

/*上传控件调节*/
.data-uploader {
    min-height: 10rem;
}

/*历史记录板面*/
.history-frame {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

    padding-bottom: 20px;
    scrollbar-width: none;
}

.history-title {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    height: 32px;

    cursor: pointer;
    border-radius: 3px;
}

.history-title:hover {
    background-color: #eeeeee;
}

.icon-align {
    line-height: 14px;
}

.history-body {
    position: relative;
    display: flex;
    width: 100%;
    min-height: fit-content;
    margin: 8px;

    padding: 16px 0;
    border-top: #dae0e5 solid 1px;
    border-bottom: #dae0e5 solid 1px;
}

.history-spinning {
    position: absolute;
    width: 100%;
    height: calc(100% - 32px);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.history-footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 8px;
    height: 22px;
}

.history-card {
    cursor: default;
}

.history-card:hover {
    box-shadow: 0 0 8px 1px #cccccc;
}

.history-card-title {
    border-radius: 3px 3px 0 0;
    background-color: #f6f8fa;
    padding: 4px 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.history-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    color: #aaaaaa;
    background-color: white;
    font-size: 16px;
    height: 110px;
}

.history-card-footer {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 3px 3px;
    background-color: #f6f8fa;
    padding: 4px 16px;
    height: 30px;
    color: #048fff
}

.history-card-footer span:hover {
    cursor: pointer;
}